{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "alwaysParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf",
  "overrides": [{ "files": ".prettierrc", "options": { "parser": "json" } }],
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-packagejson"]
}
